.loadMoreButton {
  padding: 10px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #4b865c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loadMoreButton:hover {
  background-color: #305011;
}
